body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #808484;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main {
  background-color: #f1f3f3;
}

.main > .container {
  display: flex;
  /* évite que les contenus aillent tout en bas */
  align-items: flex-start;
}

section {
  flex: 2;
  box-sizing: border-box;
}

.sidebasket {
  flex: 1;
}
